body{
    background-color: rgba(0, 0, 0, .9);
    padding-top: 0cm;
}

.navbar{
    background-color:rgba(7, 7, 7, 0.653);
}
.navbar-item,.navbar-link{
    color: white;
}
.navbar-link .navbar-item{
    color: black;
}
.control{
    margin-top: 12px;
    display:inline;
    
}
.control input{
    color: black;
}
input , .button{
    
     display:inline;
}

.control .button{
    background-color: rgba(165, 164, 164, 0);
    border-radius: 20px;
     display:inline;
}
.input{
    background: rgb(243, 242, 242);
    color: rgb(241, 241, 241);
}

h1.title{
    color:#fefefa;
}



.tile{
    background-color: rgb(245, 245, 245);
    width:100%;
    height: 280px;
    padding:15px;
    border-radius: 5px;
}
.tile p{
    margin-top: 20px;

}
.container{
    margin:80px ;
    margin-top: 10PX;
    margin-bottom: 10px;
}

.container2{
    margin:80px ;
    margin-top: 100PX;
    margin-bottom: 10px;
}

.box{
   padding: 20px;
   margin: 5px;
   background-color: rgba(213, 194, 194, 0.714);
   height: auto;
   text-align: center;
}

 .welcome{
    padding: 100px;
    margin-bottom: 30px;
   background-image: url(../images/star-wars-the-force-awakens-poster-landscape.jpg) ;
   opacity: 0.7;
   background-repeat: no-repeat;
   background-size: cover;
   background-color: rgba(216, 191, 216, 0.041);
   height:500px;
   background-position: center;

}

.image{
    display:block;
    margin:auto;
    padding: 10px;
}

.level{
    background-color: rgb(0, 0, 0);
    padding:20px;
    color: white;
}

a.fab:active{
    color: white;
}